<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.iei.hotel.reservation.mapper.ReservationMapper">
	<!-- 예약 개수 검색 -->
	<select id="selectReservationCount" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	COUNT(*)
		FROM 	reservation
		WHERE 	(checkIn >= #{checkIn}
		AND 	checkIn &lt; #{checkOut})
		OR 		(checkOut > #{checkIn}
		AND 	checkOut &lt; #{checkOut})
		OR 		(checkIn &lt;= #{checkIn}
		AND 	checkOut >= #{checkOut})
		AND 	guestRoomName = #{guestRoomName}
	</select>
	<!-- 객실 정보 개수 검색 -->
	<select id="selectGuestRoomInfoCount" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	COUNT(*)
		FROM 	guestRoomInfo
		WHERE 	guestRoomName = #{guestRoomName}
	</select>
	<!-- 객실 정보 리스트 -->
	<select id="selectGuestRoomInfoList" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="kr.iei.hotel.guestroom.vo.GuestRoomVO">
		SELECT *
 		FROM guestRoom
 		JOIN guestRoomInfo
 		ON guestRoom.guestRoomName = guestRoomInfo.guestRoomName
 		WHERE guestRoom.guestRoomName = #{guestRoomName}
	</select>
	<!-- 예약 객실번호 리스트 -->
	<select id="reservationGuestRoomNumberList" parameterType="kr.iei.hotel.reservation.vo.ReservationVO" resultType="int">
		SELECT 	guestRoomNo
		FROM 	reservation
		WHERE 	(checkIn >= #{checkIn}
		AND 	checkIn &lt; #{checkOut})
		OR 		(checkOut > #{checkIn}
		AND 	checkOut &lt; #{checkOut})
		OR 		(checkIn &lt;= #{checkIn}
		AND 	checkOut >= #{checkOut})
		AND 	guestRoomName = #{guestRoomName}
	</select>
</mapper>