<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.iei.hotel.travel.mapper.TravelMapper">
	<sql id="travelColumns">
		  tsName
		, tsKeyword
		, tsAddress
		, tsPhone
		, tsIntroduce
		, tsInformation
		, tsUsetime
		, tsRateinfo
		, tsAmenities 
		, tsContent1
		, tsContent2
		, tsImage1
		, tsImage2
		, tsImage3
		, tsImage4
	</sql>
	
	<select id="selectTourList" resultType="kr.iei.hotel.travel.vo.TravelVO">
		SELECT * 
		FROM TouristSpot
	</select>
	
	<!-- 관광지 상세 조회 -->
	<select id="selectTourDetail" resultType="kr.iei.hotel.travel.vo.TravelVO" parameterType="String">
		SELECT *
		FROM TouristSpot
		WHERE tsName = #{name}
	</select>
</mapper>